- hosts: master
  become: true
  tasks:
    - name: create an empty file for Kubeadm configuring
      copy:
        content: ""
        dest: /etc/kubernetes/kubeadm-config.yaml
        force: no

    - name: configuring the container runtime including its cgroup driver
      blockinfile:
        path: /etc/kubernetes/kubeadm-config.yaml
        block: |
             kind: ClusterConfiguration
             apiVersion: kubeadm.k8s.io/v1beta3
             networking:
               podSubnet: "10.244.0.0/16"
             ---
             kind: KubeletConfiguration
             apiVersion: kubelet.config.k8s.io/v1beta1
             runtimeRequestTimeout: "15m"
             cgroupDriver: "systemd"
             systemReserved:
               cpu: 100m
               memory: 350M
             kubeReserved:
               cpu: 100m
               memory: 50M
             enforceNodeAllocatable:
             - pods

    - name: initialize the cluster (this could take some time)
      shell: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml --ignore-preflight-errors=NumCPU >> cluster_initialized.log
      args:
        chdir: /home/codehuri
        creates: cluster_initialized.log

    - name: create .kube directory
      shell: |
        mkdir -p /home/codehuri/.kube
        chown ubuntu:ubuntu /home/codehuri/.kube
        chmod 0755 /home/codehuri/.kube

    - name: copy admin.conf to user's kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/codehuri/.kube/config
        remote_src: true
        owner: ubuntu

    - name: install Pod network
      shell: |
        export KUBECONFIG=/home/codehuri/.kube/config
        sudo -u ubuntu kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml >> /home/codehuri/pod_network_setup.log
      args:
        creates: /home/codehuri/pod_network_setup.log
